.app-background {
    background: url("../assets/app-bg.jpg") center center no-repeat !important;
    background-size: cover !important;
}

body::-webkit-scrollbar {
    display: none;
}

.v-sheet.v-app-bar.v-toolbar:not(.v-sheet--outlined) {
    z-index: 3;
}

.theme--light.v-navigation-drawer {
    z-index: 4;
}

.text-field-space {
    padding-top: 0px;
    padding-bottom: 0px;
    margin-top: 0px;
    margin-bottom: 0px;
}

.v-data-table > .v-data-table__wrapper > table > tbody > tr > th,
.v-data-table > .v-data-table__wrapper > table > thead > tr > th,
.v-data-table > .v-data-table__wrapper > table > tfoot > tr > th {
   font-size: 20px !important;
}

.custom7cols {
    width: 14%;
    max-width: 14%;
    flex-basis: 14%;
}

.required {
    color: red
}